<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
<f:if condition="{navMainItem.children}">
    <f:then>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button"
           aria-haspopup="true" aria-expanded="false">{item.title}</a>
    </f:then>
    <f:else>
        <a href="{item.link}" target="{item.data.target}" title="{item.data.title}">{item.title}</a>
    </f:else>
</f:if>
</f:comment>
<a href="{item.link}" target="{item.data.target}" title="{item.data.title}">{item.title}</a>

</html>